'.text.wiki':
  'editor':
    'completions': [

      # Snippets
      'iwt'
      'iwtt'
      'iwttt'
      'code'
      'codej'
      'codeh'
      'codeg'
      'ex'
      'out'
      'syn'
    ]
